{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}
{% block bodyid %}{{'homepage'}}{% endblock %}


{% block content %}


  <div class="offset"></div>
  <div class="fullwidthbanner-container revolution">
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="fade"> <img src="asset/style/images/art/slider-bg1.jpg" alt="" />
          <div class="caption sfb bold text-center" data-x="center" data-y="198" data-speed="900" data-start="800" data-easing="Sine.easeOut">Hello! This is Slowave</div>
          <div class="caption sfb lite small text-center" data-x="center" data-y="258" data-speed="900" data-start="1500" data-easing="Sine.easeOut">A responsive site template with a clean and profession design <br />that will be a great solution for your business, portfolio, blog or any other purpose.</div>
          <div class="caption sfb" data-x="center" data-y="353" data-speed="900" data-start="2200" data-easing="Sine.easeOut"><a href="#" class="btn btn-large">Purchase Now</a></div>
        </li>
        <li data-transition="fade"> <img src="asset/style/images/art/slider-bg2.jpg" alt="" />
          <div class="caption lft" data-x="445" data-y="140" data-speed="900" data-start="1100" data-easing="Sine.easeOut"><img src="asset/style/images/art/w1.png" alt="" /></div>
          <div class="caption lft" data-x="578" data-y="126" data-speed="900" data-start="2100" data-easing="Sine.easeOut"><img src="asset/style/images/art/w2.png" alt="" /></div>
          <div class="caption lft" data-x="885" data-y="132" data-speed="900" data-start="3100" data-easing="Sine.easeOut"><img src="asset/style/images/art/w3.png" alt="" /></div>
          <div class="caption lft" data-x="725" data-y="118" data-speed="900" data-start="4100" data-easing="Sine.easeOut"><img src="asset/style/images/art/w4.png" alt="" /></div>
          <div class="caption sft opacity-bg" data-x="35" data-y="200" data-speed="500" data-start="800" data-easing="Sine.easeOut">Rich layout options</div>
          <div class="caption sfr opacity-bg" data-x="35" data-y="265" data-speed="500" data-start="1300" data-easing="Sine.easeOut">Suitable for any website</div>
          <div class="caption sfb" data-x="35" data-y="330" data-speed="500" data-start="1800" data-easing="Sine.easeOut"><a href="#" class="btn btn-large">Purchase Now</a></div>
        </li>
        <li data-transition="fade"> <img src="asset/style/images/art/slider-bg3.jpg" alt="" />
          <div class="caption lft" data-x="35" data-y="140" data-speed="900" data-start="800" data-easing="Sine.easeOut"><img src="asset/style/images/art/slider-laptop.png" alt="" /></div>
          <div class="caption lfr" data-x="475" data-y="235" data-speed="900" data-start="1500" data-easing="Sine.easeOut"><img src="asset/style/images/art/slider-tablet.png" alt="" /></div>
          <div class="caption lfl" data-x="440" data-y="349" data-speed="900" data-start="1800" data-easing="Sine.easeOut"><img src="asset/style/images/art/slider-phone.png" alt="" /></div>
          <div class="caption sfr lite dark" data-x="750" data-y="185" data-speed="400" data-start="2500" data-easing="Sine.easeOut">100% Responsive</div>
          <div class="caption sfr lite dark" data-x="750" data-y="237" data-speed="400" data-start="2900" data-easing="Sine.easeOut">Twitter Bootstrap</div>
          <div class="caption sfr lite dark" data-x="750" data-y="289" data-speed="400" data-start="3300" data-easing="Sine.easeOut">Revolution Slider</div>
          <div class="caption sfr lite dark" data-x="750" data-y="341" data-speed="400" data-start="3700" data-easing="Sine.easeOut">Flat Design</div>
          <div class="caption sfb" data-x="750" data-y="395" data-speed="800" data-start="4200" data-easing="Sine.easeOut"><a href="#" class="btn btn-border-dark btn-large">Check More</a></div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner --> 
  </div>
  <!-- /.fullwidthbanner-container -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="col-services">
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Application Development</h5>
              <p>We develop applications ranging from simple websites to e-commerce platforms,corporate websites to cross-platform systems, social media apps...everythng is done with perfection.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Web Design</h5>
              <p>Providing stunning responsive designs that help make your application stand out of the crowd.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">API Engineering</h5>
              <p>The architecture is carefully engineered for the lowest possible overheads in terms of CPU usage on the server when scaling. REST based API's are created for communication between back-end and front-end in form of JSON objects.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row -->
        <div class="divide30"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Big Data</h5>
              <p>Our mission is to simplify the complexity of big data analytics and empower everyone to make data-driven decisions.</p>
            </div>
            <!-- /.text --> 
          </div>
          
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.services --> 
    </div>
  </div>
  <div class="black-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>Our Recent Projects</h2>
        <span class="icon"><i class="icon-picture"></i></span> </div>
      <div class="owl-portfolio owlcarousel carousel-th">
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post.html"><img src="asset/style/images/art/p1.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post.html">Vintage Badges</a></h3>
            <span class="meta">Logo, Corporate</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post2.html"><img src="asset/style/images/art/p2.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post2.html">Stationery Branding</a></h3>
            <span class="meta">Identity, Branding</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post3.html"><img src="asset/style/images/art/p3.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post3.html">Bi-fold Mockup</a></h3>
            <span class="meta">Leaflet, Business</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post4.html"><img src="asset/style/images/art/p4.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post4.html">Infographic Elements</a></h3>
            <span class="meta">Flat, Graphic</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post.html"><img src="asset/style/images/art/p5.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post.html">Business Cards</a></h3>
            <span class="meta">Branding, Corporate</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post2.html"><img src="asset/style/images/art/p6.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post2.html">Cover Disk Mockup</a></h3>
            <span class="meta">PSD, Music</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post3.html"><img src="asset/style/images/art/p7.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post3.html">Gist iPhone App</a></h3>
            <span class="meta">Application, Mobile</span> </div>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.owlcarousel -->
      <div class="divide50"></div>
      <div class="text-center"> <a class="btn btn-border-light" href="portfolio2.html">See All Work</a> </div>
    </div>
  </div>
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center bm20">
        <h2>Steps in Our Works</h2>
        <span class="icon"><i class="icon-list-numbered"></i></span> </div>
      <div class="thin text-center">
        <p class="lead">Developing your products with agile in the sprints of today. 
        Providing better results with daily communication and synchronization.</p>
      </div>
      <div class="divide30"></div>
      <div class="steps"> <span class="timeline-border"></span>
        <div class="step">
          <div class="icon-border"> <i class="icon-picons-bulb"></i> </div>
          <h5 class="upper">Ideate</h5>
          <p>Clarified business requirements, analysis, brainstorming results in creative solutions.</p>
        </div>
        <div class="step even">
          <div class="icon-border"> <i class="icon-picons-chart-6"></i> </div>
          <h5 class="upper">Build</h5>
          <p>Interactive design and development,implementation of business solution.</p>
        </div>
        <div class="step">
          <div class="icon-border"> <i class="icon-picons-lab"></i> </div>
          <h5 class="upper">Test</h5>
          <p>Product launch for testing and reviews by customer.</p>
        </div>
        <div class="step even">
          <div class="icon-border"> <i class="icon-picons-gift"></i> </div>
          <h5 class="upper">Iterate</h5>
          <p>Review, customer comments,Iterate the process.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- section begin -->
            {{ include('partials/testimonial.html.twig') }}
  <!-- section close -->

  <!-- section begin -->
           {{ include('partials/client.html.twig') }}
  <!-- section close -->
  
    
  
</div>
<!-- /.body-wrapper --> 

{% endblock %}
