{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}


{% block content %}

{#  {% if project_data |length > 0 %} #}

<!--/.navbar -->
  <div class="offset"></div>
  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1 class="pull-left">{{project_data.name}}</h1>
      <div class="navigation pull-right"> <a href="#" title="Previous"><i class='icon-left-open-1'></i></a> <a href="#" title="Next"><i class='icon-right-open-1'></i></a> </div>
    </div>
  </div>
  <div class="dark-wrapper">
    <div class="owl-slider-wrapper bm0">
      <div class="owl-portfolio-slider owl-carousel">
        <div class="item"> <img src="{{project_data.web_url}}" alt="" /> </div>
        <div class="item"> <img src="style/images/art/pslider-2.jpg" alt="" /> </div>
      </div>
      <div class="owl-custom-nav"> <a class="slider-prev"></a> <a class="slider-next"></a> </div>
    </div>
    <!--/.owl-slider-wrapper -->
    <div class="divide30"></div>
    <div class="container inner tp0">
      <h3>Project Details</h3>
      <div class="row">
        <div class="col-sm-8">
          <p>{{project_data.description}}</p>
        </div>
        <!-- /.col-sm-8 -->
        <div class="col-sm-4 lp30">
          <ul class="item-details">
            <li><span>Date:</span>{{project_data.date_created}}</li>
            <li><span>Categories:</span> {{project_data.cat_name}} </li>
            <li><span>Client:</span> {{project_data.client}} </li>
            <li><span>Link:</span> <a href="http://elemisfreebies.com">http://elemisfreebies.com</a></li>
          </ul>
        </div>
        <!-- /.col-sm-4 --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  
  <div class="light-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>Share This Work</h2>
        <span class="icon"><i class="icon-globe"></i></span> </div>
      <div class="share text-center"> <a href="#" class="btn share-facebook">Like</a> <a href="#" class="btn share-twitter">Tweet</a> <a href="#" class="btn share-googleplus">+1</a> <a href="#" class="btn share-pinterest">Pin It</a> </div>
    </div>
  </div>
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>Related Works</h2>
        <span class="icon"><i class="icon-picture"></i></span> </div>
      <div class="owl-portfolio owlcarousel carousel-th">
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post.html"><img src="asset/style/images/art/p1.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post.html">Vintage Badges</a></h3>
            <span class="meta">Logo, Corporate</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post2.html"><img src="asset/style/images/art/p2.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post2.html">Stationery Branding</a></h3>
            <span class="meta">Identity, Branding</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post3.html"><img src="{{web_url}}asset/style/images/art/p3.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post3.html">Bi-fold Mockup</a></h3>
            <span class="meta">Leaflet, Business</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post4.html"><img src="{{web_url}}asset/style/images/art/p4.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post4.html">Infographic Elements</a></h3>
            <span class="meta">Flat, Graphic</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post.html"><img src="{{web_url}}asset/style/images/art/p5.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post.html">Business Cards</a></h3>
            <span class="meta">Branding, Corporate</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post2.html"><img src="{{web_url}}asset/style/images/art/p6.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post2.html">Cover Disk Mockup</a></h3>
            <span class="meta">PSD, Music</span> </div>
        </div>
        <!-- /.item -->
        <div class="item">
          <figure class="icon-overlay medium icn-link"> <a href="portfolio-post3.html"><img src="{{web_url}}asset/style/images/art/p7.jpg" alt="" /></a></figure>
          <div class="image-caption">
            <h3><a href="portfolio-post3.html">Gist iPhone App</a></h3>
            <span class="meta">Application, Mobile</span> </div>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.owlcarousel --> 
    </div>
  </div>
  
    <!-- .container -->
{# {% endif %} #}
{% endblock %}
