{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}


{% block content %}


  <!--/.navbar -->
  <div class="offset"></div>
  <div class="dark-wrapper page-title">
    <div class="container inner">
      <h1>Our Services</h1>
    </div>
  </div>

<div class="light-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="row text-center col-services-2">
        <div class="col-sm-4 col">
          <div class="icon-border bm10"> <i class="icon-picons-bulb"></i> </div>
          <h5 class="upper colored">Application Development</h5>
          <p>We develop applications ranging from simple websites to e-commerce platforms,corporate websites to cross-platform systems, social media apps...everythng is done with perfection. <a href= "{{web_url}}application-development" >Read More</a></p>
        </div>
        <div class="col-sm-4 col">
          <div class="icon-border bm10"> <i class="icon-picons-rocket"></i> </div>
          <h5 class="upper colored">Api Engineering</h5>
          <p>The architecture is carefully engineered for the lowest possible overheads in terms of CPU usage on the server when scaling. REST based API's are created for communication between back-end and front-end in form of JSON objects. <a href= "{{web_url}}api-engineering" >Read More</a></p>
        </div>
        <div class="col-sm-4 col">
          <div class="icon-border bm10"> <i class="icon-picons-lab"></i> </div>
          <h5 class="upper colored">Big Data</h5>
          <p>Our mission is to simplify the complexity of big data analytics and empower everyone to make data-driven decisions. <a href= "{{web_url}}big-data" >Read More</a></p>
        </div>
        
      </div>
    </div>
  </div>




  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="col-services">
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Print Design</h5>
              <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Motion Video</h5>
              <p>Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum. Cum sociis natoque penatibus et parturient.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Package Design</h5>
              <p>Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis montes, nascetur ridiculus mus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row -->
        <div class="divide30"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Sound Engineering</h5>
              <p>Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa. Maecenas sed diam eget risus varius blandit.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-clock icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Time Management</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis sit amet non magna sit amet tortor sagittis.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-brush-2 icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Illustration</h5>
              <p>Morbi leo risus, porta ac consectetur ac at eros. Cras mattis consectetur purus. Cras mattis consectetur purus fermentum.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.services --> 
    </div>
  </div>
  
  
  {% endblock %}
